<h1 class="jumbotron text-center" style="background-color:lightgreen">
  Scrape your News!
</h1>

<div style="text-align: center;">
  <img src="../../images/nycity.jpg" alt="nycity" align="middle">
</div>
