<h1 class="jumbotron text-center" style="background-color:yellowgreen">
  Scrape your News!
</h1>

<div class="container">
    {{#each stories}}
      <div class="row well">
          <div class="col-sm-9" style="background-color:cyan">
            {{this.title}}
            <br>
            <a href={{this.link}}>{{this.link}}</a>
          </div>
          <div class="col-sm-3 text-right">
            <button class="btn btn-warning text-right" data-id="{{this._id}}">
                Save Article 
            </button>
          </div>
      </div> 
    {{/each}}
</div>


